h1 {
    font-weight: 800;
    font-size: 3rem;
}

h2 {
    font-weight: 700;
    font-size: 2.25rem;
    margin-top: 2rem;
}

p, pre {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

code {
    background-color: #e2e8f0;
    padding: 1px .25rem;
    border-radius: .25rem;
    font-size: .85em;
}

.text-gray-500 {
    color: #a0aec0;
}

.text-blue-600 {
    color: #3182ce;
}
